*{
  box-sizing: border-box;
}

.wrapper{
  height: 100vh;
  width: 100vw;
  padding-bottom: 20px;
  background: -moz-linear-gradient(65deg, rgba(255, 190, 44, 0.4), rgba(255, 44, 171, 0.7));
  background: -webkit-linear-gradient(65deg, rgba(255, 190, 44, 0.4), rgba(255, 44, 171, 0.7));
  background: linear-gradient(25deg, rgba(255, 190, 44, 0.4), rgba(255, 44, 171, 0.7));
  background-size: 100vw 100%;
  background-repeat: no-repeat;
  .header{
    height: 110px;
    width: 100%;
    background-color: limegreen;
    background-size: cover;
    margin: 0 auto;
    display: flex;
    &__icon{
      line-height: 110px;
      margin-left: 50px;
    }
    &__title{
      margin-left: 600px;
      font-family: 'Caveat', cursive;
      font-size: 67px;
      line-height: 110px;
      color: lightslategrey;
    }
  }
  .main{
    display: flex;
    .user-box{
      margin: 0 auto;
      height: auto;
      width: calc(100% - 200px);
      margin-right: 20px;
      margin-left: 20px;
      margin-top: 40px;
      margin-bottom: 20px;
      &__btn1{
        display: block;
        height: 80px;
        width: 300px;
        text-decoration: none;
        border-radius: 10px;
        background-color: #4169e1;
        text-align: center;
        line-height: 80px;
        margin-top: 30px;
        margin: 40px auto;
        animation: Flash 2s infinite;
      }
      &__btn2{
        display: block;
        width: 300px;
        height: 80px;
        text-decoration: none;
        border-radius: 10px;
        background-color: yellowgreen;
        text-align: center;
        line-height: 80px;
        margin: 60px auto;
        animation: Flash 2s infinite;
      }
      &__btn3{
        display: block;
        height: 80px;
        width: 300px;
        text-decoration: none;
        border-radius: 10px;
        background-color: #00bfff;
        text-align: center;
        line-height: 80px;
        margin: 60px auto;
        animation: Flash 2s infinite;
      }
      @keyframes Flash {
        50% {
          box-shadow: 0px 0px 40px 0px rgb(103, 189, 223);
        }
      }

    }
    .calender{
      margin: 0 auto;
      background-color: white;
      width: calc(100% - 200px);
      margin-top: 30px;
      margin-left: 200px;
    }
  }
}
